<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container">

    <h3>Users list</h3>
    <hr>

    <!-- Add a search form -->

    <form action="#" th:action="@{/user/search}"
          method="GET" class="form-inline">

        <!-- Add a button -->
        <div sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/user/new}"
           class="btn btn-primary btn-sm mb-3">
            Add User
        </a>
        </div>

        <input type="search"
               name="username"
               placeholder="Enter Username"
               class="form-control-sm ml-5 mr-2 mb-3"/>

        <input type="search"
               name="role"
               placeholder="ADMIN or USER"
               class="form-control-sm mr-2 mb-3"/>

        <button type="submit"
                class="btn btn-success btn-sm mb-3">Search
        </button>

    </form>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}">

            <td th:text="${user.getUsername()}"/>
            <td th:text="${user.getRole()}"/>
            <td th:text="${user.getStatus()}"/>

            <td>
                <!-- Add "delete" button/link -->
                <a th:href="@{/user/{id}(id=${user.getId()})}"
                   class="btn btn-info btn-sm mb-3">
                    View
                </a>

            </td>


        </tr>
        </tbody>
    </table>

    <form th:action="@{/logout}" method="post">
        <input class="btn btn-primary btn-sm mb-3" type="submit" value="Logout"/>
    </form>

</div>

</body>
</html>